.tree-container{
.ivu-tree {
  user-select: none;
  ul.ivu-tree-children {
    position relative;
    transition: all .2s ease-in-out;
    &:before {
      display inline-block;
      content: "";
      position: absolute;
      border-left: 1px solid #999;
      height 100%;
      width 1px;
      top: 3px
    }
    &:last-child:before {
      height 26px
    }
    &:after {
      content: "";
      position: absolute;
      top: 28px;
      right: auto
      border-top: 1px solid #999;
      height 28px;
      width 20px
    }
    &>li {
      padding 13px 0 0 0;
      margin: 0 0 0 20px;
      ul.ivu-tree-children {
        padding-left: 32px
      }
    }
  }
  .ivu-tree-title {
     padding: 0;
     margin-top: 4px
     &:hover {
       background: none;
     }
  }
  &>ul.ivu-tree-children {
    padding-top 5px
    &:before, &:after {
      content: none;
      width: 0;
    }
  }
  &>ul.ivu-tree-children >li {
    padding: 0;
    margin: 0;
  }
}
.ivu-tree-arrow {
  padding: 4px;
  &, & i {
    font-size: 9px;
  }
}
.ivu-tree-arrow-open {
  .ivu-icon-ios-arrow-forward {
    transform: none;
    &::before {
      background-image: url("../assets/minus.svg")
    }
  }
}
.ivu-icon-ios-arrow-forward:before {
  transition: none;
  transform: none;
  content: "";
  display inline-block;
  width 9px;
  height 9px;
  background-image url("../assets/plus.svg");
  background-size contain;
  background-repeat: no-repeat;
}
.ivu-tree-arrow i{ 
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  vertical-align: middle;
}
.ivue-tree-node-selected{
  background-color: #3977fc;
  color: #ffffff;
  &:hover{
     background-color: #3977fc !important;
     color: #ffffff;
  }
}
.ivu-tree-node{
  font-size: 14px;
  padding: 5px 10px;
  border-radius 4px
}
.ivu-tree-node:hover{
  background-color: #ebf1ff;
  cursor pointer
}
.tree-node{
  display: inline-block;
  width: 100%
}
}