$--color-primary: #3977fc;

$--color-success: #1ec270;
$--color-danger: #e82222;

$--color-text-primary: #4a4f5d;
$--color-text-regular: #4a4f5d;
$--color-text-secondary: #80838d;
$--color-text-placeholder: #b7b9be;

$--border-color-base: #dce5f1;
$--background-color-base: #f5f6fa;

// $--font-path: '~element-ui/lib/theme-chalk/fonts';
// $--icon-color: $--color-primary;

$--header-row-height: 60px;
$--header-subrow-height: 50px;

$--horizontal-section-height: 720px;
