$header-row-height = 60px;
$header-subrow-height = 50px;
$background-color-base = #f5f6fa;
$primary-color = #4D71B7;

$role-row-height = 660px;

$default-primary-color =  #3977FC;

$horizontal-section-height = 720px;

$color-danger = #e82222
$horizontal-section-height = 720px;
